process.executor = 'sge'
process.clusterOptions = '-S /bin/bash'
process.penv = "smp"
process.cpus = 4

params {
    'script_paths' {
    	picard = '/mnt/galaxy/data/galaxy/sw/picard-tools-2.14.0'
    	java = '/mnt/galaxy/data/galaxy/sw/jre1.8.0_92/bin'
    	destination = '/mnt/galaxy/tmp/users'
    	post_run_scripts = '/mnt/bioinfo/prg/seq-shepherd/current/post_run_scripts'
    	fastqc = '/mnt/galaxy/data/galaxy/sw/bin/fastqc'
    	multiqc = '/mnt/galaxy/data/galaxy/sw/miniconda2/bin/multiqc'
      kraken = '/mnt/home/ngebremedhin/miniconda2/bin/kraken'
      ktImportTaxonomy = '/mnt/home/ngebremedhin/miniconda2/bin/ktImportTaxonomy'
      krakendb = '/mnt/home/ngebremedhin/novaseq_pipe/krakenDB'
    }

   'cutoffs_and_thresholds' {
    	max_mismatches = 2
    	max_no_calls = 0
    	min_mismatch_delta = 2
    	extract_bc_cpus = 16
    	tile_process_cpus = 4
   }
}
